<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <base href="https://garrongarron.github.io/rpg-marketing/"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>The Warrior</title>
    <link rel="icon" href="favicon.png" />
    <script src="js/flatte.min.js"></script>
    <script src="js/ammo.wasm.js"></script> 
    <% for (var style in htmlWebpackPlugin.files.css) { %><link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[style] %>" /><% } %>
    <% for (var chunk in htmlWebpackPlugin.files.js) { %><script src="<%= htmlWebpackPlugin.files.js[chunk] %>" defer></script><% } %>
    
    
</head>

<body>
</body>

</html>
    
