.slidebar-container {
    width : 160px;
    height: 30px
}

.slidebar-container .slidebar-label {
    font-family: sans-serif;
    color      : white;
    position   : absolute;
    z-index    : 1;
    width      : 100%;
    text-align : center;
    font-weight: 900;
    font-size  : 1em;
    text-shadow: 2px 2px 2px black;
    line-height: 30px;
    user-select: none
}

.slidebar-container input[type=range] {
    -webkit-appearance: none;
    background        : none;
    background        : linear-gradient(90deg, #fbff00 50%, rgba(255, 192, 203, 0) 50%);
    height            : 10px;
    border-radius     : 5px;
    border            : 1px solid black;
    box-shadow        : 0px 0px 4px black;
    outline           : none;
    width             : 100%;
    top               : 10px
}

.slidebar-container input[type=range] {
    position: absolute
}

.slidebar-container input[type=range]::-moz-range-thumb {
    appearance   : none;
    width        : 15px;
    height       : 15px;
    border-radius: 50%;
    background   : #fbff00;
    box-shadow   : 0px 0px 2px black;
    opacity      : 0
}

.slidebar-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background        : #fbff00;
    width             : 15px;
    height            : 15px;
    border-radius     : 50%;
    box-shadow        : 0px 0px 2px black;
    opacity           : 0
}

.gold {
    position: fixed;
    top     : 0;
    right   : 1em
}

.welldone {
    position: fixed;
    top: 0;
    left: 100px;
    width: 300px;
    opacity: 0;
    transition: 1s all;
    background-image: url(src/UI/compoment/welldone/large-modal.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 30px 20px ;
    font-family: 'gotic';
    user-select: none;
}
.welldone h1{
    margin: 0;
    margin-bottom: 10px;
    font-size: 2.2em;
    color: black;
    text-shadow: 0 0 4px rgb(173, 142, 101);
}
.welldone p{
    margin: 0;
    font-size: 1em;
    margin-bottom: 30px;
    max-height: 120px;
    overflow-y: scroll;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 0 2px gray;
}
.welldone p >a {
    color: red;
    text-decoration: none;
    transition: .2s all;
    text-shadow: 0 0 4px yellow ;
}
.welldone p >a:hover {
    color: rgb(253, 229, 192);
    text-shadow: 0 0 8px red ;
}
/*Scroll bar start*/
/* width */
.welldone p::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .welldone p::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  .welldone p::-webkit-scrollbar-thumb {
    /* background: #888;  */
    background: rgb(228, 204, 100);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .welldone p::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 164, 89);
  }
/*Scroll bar ends*/
.welldone button{
    font-family: 'gotic';
    display: block;
    margin-top: 30px;
    font-size: 1.5em;
    border: none;
    padding: 5px 10px ;
    border-radius: 5px;
    color: rgb(255, 166, 0);
    background-color: rgb(77, 62, 36);
    box-shadow: 0 0 10px orange;
    margin: auto;
    left: 30px;
    transition: .2s all;
    cursor: pointer;
}
.welldone button:hover{
    color: rgb(255, 202, 103);
    box-shadow: 0 0 10px yellow;
}
.welldone.fadeIn1 {
    top: 100px !important;
    opacity: 1;
}