*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: black;
}
.fire{
    position: absolute;
    top: 0;
    pointer-events: none;
}
.loopMachine{
    position: fixed;
    /* overflow-x: scroll; */
    width: 10000px;
    z-index: 10000;
    top: 0;
}
.loopMachine::before{
    content: 'LoopMachine: ';
}